*{
    padding: 0px;
    margin: 0px;
}

.body{
    background: url(netflix2.jpg) rgba(0, 0, 0, 0.6); 
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
}
.nav{
    color: red;
    margin-left: 200px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
#nav{
    color: white;
    background-color: red;
    margin-left: 800px;
    height: 30px;
    width: 80px; 
    font-size: 12px;
    font-weight: bold;
}
.middle{
    color: white;
    padding-top: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:800;
}
.p1{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.p2{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin: 20px;
}
input{
    color: darkgrey;
    background-color: black;
    border: 1px solid darkgrey;
    border-radius: 4px;
    height: 50px;
    width: 450px;
    margin-left: 400px;
    padding-left: 5px;
}
button{
    color: white;
    background-color: red;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    border: 1px solid red;
    font-size: 20px;
}
hr{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body2{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.enjoy{
    margin-left: 100px;
}
.box{
    color: white;
    font-size: 65px;
    font-weight: 800;
}
.bat{
    color: white;
    font-size: 30px;
}
.tv2{
    margin-bottom: 60px;
}
.hr2{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body3{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.mobile{
    margin-bottom: 60px;
}
.d{
    color: white;
    font-size: 65px;
    font-weight: 800;
}
.e{
    color: white;
    font-size: 30px;  
}
.hr3{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body4{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content:center;
}
.c{
    color: white;
    font-size: 65px;
    font-weight: 800;
    margin-top: 60px;
}
.a{
    color: white;
    font-size: 30px; 
    margin-bottom: 60px;  
}
.hr4{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body5{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.cat{
    margin-bottom: 60px;
}
.p{
    color: white;
    font-size: 65px;
    font-weight: 800;
}
.q{
    color: white;
    font-size: 30px;    
}
.hr5{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body6{
    background-color: black;
    align-items: center;
    display: block;
    justify-content: center;
    margin: 0px;
    height: 600px;
}
.dropdown{
    margin-left: 250px;
}
.w{
    color: white;
    font-size: 65px;
    font-weight: 800;
}
.one{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.down{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
}
.drop:focus-within .down{
    display: block;
}
.two{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.th{
    font-size: 25px;
}
.tt{
    font-size: 25px;
}
.bd{
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
}
.dropt{
    margin-left: 250px;
}
.ones{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.downs{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
    height: 50px;
    padding-top: 10px;
}
.dropt:focus-within .downs{
    display: block;
}
.twos{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.ths{
    font-size: 25px;
}
.tts{
    font-size: 25px;
}
.bds{
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
}
.droptt{
    margin-left: 250px;
}
.oness{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.downss{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
}
.droptt:focus-within .downss{
    display: block;
}
.twoss{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.thss{
    font-size: 25px;
}
.ttss{
    font-size: 25px;
}
.bdss{
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
}
.dropttt{
    margin-left: 250px;
}
.onesss{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.downsss{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
}
.dropttt:focus-within .downsss{
    display: block;
}
.twosss{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.thsss{
    font-size: 25px;
}
.ttsss{
    font-size: 25px;
}
.bdsss{
    padding-left: 10px;
    font-size: 23px;
    font-weight: 500;
}
.droptttt{
    margin-left: 250px;
}
.onessss{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.downssss{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
}
.droptttt:focus-within .downssss{
    display: block;
}
.twossss{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.thssss{
    font-size: 25px;
}
.ttssss{
    font-size: 25px;
}
.bdssss{
    padding-left: 10px;
    font-size: 23px;
    font-weight: 500;
}
.dropttttt{
    margin-left: 250px;
}
.onesssss{
    width: 900px;
    background-color: dimgray;
    border: 10px;
    border-color: dimgray;
    display: block;
    border-radius: 0px;
}
.downsssss{
    width: 900px;
    background-color: dimgray;
    display: none;
    padding: 2px;
    color: white;
    margin-top: 3px;
}
.dropttttt:focus-within .downsssss{
    display: block;
}
.twosssss{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.thsssss{
    font-size: 25px;
}
.ttsssss{
    font-size: 25px;
}
.bdsssss{
    padding-left: 10px;
    font-size: 23px;
    font-weight: 500;
}
.p2s{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin: 20px;
    margin-right: 250px;
}
inputs{
    color: darkgrey;
    background-color: black;
    border: 1px solid darkgrey;
    border-radius: 4px;
    height: 50px;
    width: 450px;
    margin-left: 200px;
    padding-left: 5px;
}
buttons{
    color: white;
    background-color: red;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    border: 1px solid red;
    font-size: 20px;
}
.spaces{
    margin-bottom: 60px;
    justify-content: center;
}


.hr6{
    border: 0;
    height: 10px;
    background-color: dimgray;
}
.body7{
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin: 0;
}
.first{
    color: white;
    margin-top: 100px;
    margin-left: 200px;
}
.z{
    color: white;
}
.second{
    color: white;
    margin-top: 100px;
}
.third{
    color: white;
    margin-top: 100px;
    margin-right: 200px;
}
a{
    color: white;
}
.english{
    border-radius: 2px;
    height: 20px;
    width: 300px;
}

